*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    width: 100%;
    background-image: url(/hero4.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:  0 5vw;
    align-items: center;
    height: 100px;
    
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}
nav ul a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(8, 214, 121);
}

.page1{
    display: flex;
    position: relative;
}
h1{
    position: absolute;
    left: 80px;
    top: 100px;
    width: 600px;
    line-height: 4rem;
    color: rgb(64, 63, 65);
    font-size: 3rem;
}